// 阅读进度条
$readingBgColor = transparent
$readingZIndex = 1000
$readingSize = 3px
$readingProgressColor = $accentColor
$readingProgressImage = linear-gradient(-120deg, #E50743 0%, #F9870F 15%, #E8ED30 30%, #3FA62E 45%, #3BB4D7 60%, #2F4D9E 75%, #71378A 80%)

//======================  响应式布局断点  ===============
/* responsive breakpoints */
$MQWide ?= 1440px // wide screen
$MQNormal ?= 1280px // desktop
$MQNarrow ?= 959px // narrow desktop / iPad
$MQMobile ?= 719px // wide mobile
$MQMobileNarrow ?= 419px // narrow mobile

//======================  布局  =======================
/*layout*/
$navbarHeight ?= 3.6rem
$navbarMobileHeight ?= 3.2rem
$navbarHorizontalPadding ?= 1.5rem
$navbarMobileHorizontalPadding ?= 1rem
$navbarVerticalPadding ?= 0.7rem
$navbarMobileVerticalPadding ?= 0.4rem
$sidebarWidth ?= 1rem
$mobileSidebarWidth ?= $sidebarWidth
$contentWidth ?= 1000px
$homePageWidth ?= 960px

//======================  颜色  =======================
/* basic color */
$accentColor ?= #3eaf7c
$textColor = #0c0e0c
$darkTextColor ?= #9e9e9e
$bgColor ?= #fff
$darkBgColor ?= #1e1e1e
$bgColorLight ?= #ffffff
$darkBgColorLight ?= #272727
$bgColorBlur ?= rgba(255, 255, 255, 0.9)
$darkBgColorBlur ?= rgba(30, 30, 30, 0.9)
$borderColor = #4b8ff1
$darkBorderColor ?= #302d28
$codeBgColor = #f0faf4
$darkCodeBgColor ?= #282c34
$arrowBgColor ?= #ccc
$darkArrowBgColor ?= #333

/* additional color provided by theme */
$boxShadowColor ?= #e2d078
$darkBoxShadowColor ?= #0f0e0d
$cardShadowColor = rgba(75, 163, 69, 0.15)
$darkCardShadowColor ?= rgba(0, 0, 0, 0.3)
$nprogressColor = #4ba345 //加载进度条颜色


//======================  markdown  =======================
/* badge color */
$badgeTipColor ?= #42b983
$badgeWarningColor ?= darken(#d4d0c1, 35%)
$badgeErrorColor ?= #DA5961
/* content class */
$contentClass ?= '.theme-default-content'
/* code block */
$lineNumbersWrapperWidth = 2.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c c\+\+ sh yaml py docker dockerfile makefile mysql sql cmd


//======================  主题色  =======================
// 需要与主题配置中的选择器配置相同
//$colorPicker = {
//  red: #f26d6d,
//  blue: #2196f3,
//  green: #3eaf7c,
//  orange: #fb9b5f
//}
